body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemDescription {
  font-family: sans-serif;
  color: rgba(16, 16, 99, 0.904);
  text-align: left;
  text-indent: 5%;
}

.descriptionBox {
  background-color: rgba(235, 232, 232, 0.74);
  width: 20%;
  line-height: 160%;
  padding-top: 1%;
  padding-bottom: 1%;
}